src/test/resources/test-mule-config.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:wiremock="http://www.mulesoft.org/schema/mule/wiremock"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
	http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
          http://www.mulesoft.org/schema/mule/wiremock http://www.mulesoft.org/schema/mule/wiremock/current/mule-wiremock.xsd">

	<wiremock:config name="wiremock-config" />

	<flow name="hello-world-flow">
		<wiremock:start config-ref="wiremock-config" />
		<http:request method="GET" url="http://localhost:8080/hello" />
		<wiremock:verify config-ref="wiremock-config"
			jsonMapping='#[%dw 2.0
output application/json
---
{
	"method" : "GET",
	"url" : "/hello"
}]' />
		<wiremock:stop config-ref="wiremock-config" />
	</flow>

</mule>
