src/test/resources/wiremock-verify-request-config.xml
<!--

    Copyright 2019 Jose Montoya

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:wiremock="http://www.mulesoft.org/schema/mule/wiremock"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
          http://www.mulesoft.org/schema/mule/wiremock http://www.mulesoft.org/schema/mule/wiremock/current/mule-wiremock.xsd">

	<wiremock:config name="wiremockConfig">
		<wiremock:connection host="0.0.0.0" port="8080" />
	</wiremock:config>

	<flow name="verify-request-flow">
		<wiremock:verify-request config-ref="wiremockConfig" comparison="EQUAL_TO" times="2"
			jsonMapping='#[%dw 2.0
output application/json
---
{
	"method" : "GET",
	"url" : "/hello"
}]' />
	</flow>

</mule>
